<mat-form-field appearance="fill">
    <mat-label>D.Entregadas</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>D.Admin</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>D.Completa</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>P.Entregadas</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>P.Admin</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>P.Completa</mat-label>
    <input matInput>
</mat-form-field>

<button mat-raised-button color="primary">Modificar Datos</button>
<mat-divider></mat-divider>